---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
---
Language: Cpp
Standard: c++20

BreakBeforeBraces: Allman
IndentCaseLabels: false
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma

PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
---
